html,body{
    min-width: 1200px;
}
.contact-us-content{
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 87px;
}
h1{
    font-size: 36px;
    margin-bottom: 50px;
}
.lianxi-textarea{
    width: 825px;
    height: 62px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999999;
    resize: none;
}
.contact-us-content-item{
    margin-bottom: 36px;

}
.contact-us-content-item-name{
    font-size: 18px;
    margin-bottom: 18px;
}
.send{
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 24px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(40,142,254)), to(rgb(92,209,254)));
    background: linear-gradient(to right, rgb(40,142,254), rgb(92,209,254));
}