/******帮助页面******/
body{
    position: relative;
}
.main{
    position: relative;
}
.right-content-title li{
    list-style: decimal;
    margin-left: 18px;
}
.left-tab {
    padding: 0;
    text-align: center;
    border: 1px #fff solid;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 62px;
    bottom: 0;
    z-index: 100;
    width: 360px;
    overflow-x: hidden;
    background-color: #f7f7f7;
}
.slide-left{
    left: 0 !important;
    -webkit-transition: left 1s !important;
    transition: left 1s !important;
}
.slide-right{
    left: 0 !important;
    -webkit-transition: left 1s !important;
    transition: left 1s !important;
}
.right-content{
    position: relative;
    left: 0;
    /* margin-top: 70px; */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.right-content>div{
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.left-tab li {
   
}
.left-tab li {
    line-height: 40px;
}
.left-tab > li > span {
    float: left;
    text-align: left;
    border-left: 2px solid #FDB64F;
    height: 40px;
    margin-top: 5px;
}
.catalog-title{
    position: relative;
    font-size: 18px;
    color: #2c3e50 !important;
}
.licolor {
    
}
.leftdiv {
    position: relative;
    text-align: left;
    padding-left: 60px;
}
.jiantou-icon{
    position: relative;
}
.leftdiv a{
    color: #7f8c8d;
}
.catalog-title-wrap>a:hover{
    border-bottom: 2px solid #1da1f6;
}
.menu-sub-title>a:hover{
    border-bottom: 2px solid #1da1f6;
    color: #1da1f6 !important;
}
#preface:hover{
    border-bottom: 2px solid #1da1f6;
    color: #1da1f6 !important;
}
.active {
    color:#1da1f6 !important;
}
.a_bottom{

}
.menu-sub{
    /* display: none; */
}
.menu-sub-title{
    padding-left: 14px;
    /* height: 30px; */
    line-height: 30px;
    font-size: 14px;
}
.menu-sub-sub-title>p>a{
    padding-left: 14px;
    font-size: 14px;
}
.menu-sub-title-a-active{
    color:#1da1f6 !important;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 358px;
    height: 60px;
    /* -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.25);
    box-shadow: 0 0 1px rgba(0,0,0,0.25); */
    background: #fff;
}
.menu-mobile{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.menu-mobile-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 150px;
}
.menu-mobile-menu{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    left: 12px;
}
.menu-pc{
    padding-top: 15px;
}
.logo{
    width: 150px;
    margin-left: 60px;
}
.right-content-title-link{
    color: #1da1f6;
    word-break: break-all;
    /* font-size: 18px; */
}
.right-content-title-link:hover{
    border-bottom: 1px solid #1da1f6;
}
.stress-content{
    background-color: rgba(22, 184, 248, 0.1);
    padding: 10px 10px;
}
.keyword-stress{
    font-weight: 700;
}
.two-level-menu-title{

}
.two-level-menu-title-active{
    color: #1da1f6 !important;
}
.three-level-menu-title{
    margin-left: 14px;
    font-size: 14px;
}
.three-level-menu-title-a{
    font-size: 14px;
}
.three-level-menu-title-a:hover{
    color: #1da1f6 !important;
}
.three-level-menu-title-a-active{
    color: #1da1f6 !important;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    border: 1px solid #c8c8c8;
}

thead tr td {
    font-weight: bold;
    background: #fafafa;
}

tbody tr:nth-of-type(2n+1) {
    background: #ffffff;
}

/* tbody tr:nth-of-type(2n+1):hover{
    background: #ffffff;
} */
tbody tr:nth-of-type(2n) {
    background: #ffffff;
}

/* tbody tr:nth-of-type(2n):hover{
    background: #ececec;
} */
@media (max-width: 1400px) {
    .right-content {
       /* margin-left: 425px; */
    }
}
@media (max-width: 960px) {
    .document-mobile{
        display: block !important;
    }
    .menu-pc {
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .left-tab {
        width: 260px;
        background-color: #f9f9f9;
        left: -360px;
        -webkit-transition: left 1s;
        transition: left 1s;
    }
    .right-content-wrap {
       
        margin-left: 0 !important;
        width: 100% !important;
    }
    .right-content {
        margin-left: auto;
     }
     .right-content>div{
        text-align: justify;
     }
     .left-tab {
       top: 0;
    }
    .leftdiv {
        text-align: left;
        margin-left: 20px;
        padding-left: 0px;
    }
    .leftdiv a {
        font-size: 14px;
    }
    .header {
        width: 100%;
        height: 40px;
        border-bottom:1px solid #f7f7f7;
    }
    .menu-sub-title-a{
        font-size: 12px;
    }
    .right-content-big-title {
        text-align: left;
     }
     .right-content-title {
        text-align: left;
    }
    td{
        font-size: 12px;
        height: 25px;
        line-height: 25px;
    }
}

/*右边内容*/
.right-content-headline{
    font-size: 32px;
    margin-bottom: -10px;
}
.right-content-title{
    line-height: 40px;
    font-size: 16px;
}
.right-content-big-title{
    margin-top: 20px;
   
    font-size: 24px;
}
.right-content-big-title-wrap{
    /* border-bottom-color:rgb(221, 221, 221);
    border-bottom-style:solid;
    border-bottom-width:1px; */
    margin-bottom: 10px;
}
.right-content-big-title-wrap li{
    list-style: decimal;
    margin-left: 18px;
}
.right-content-page-img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 350px;
    background-image: url("../../img/register-page.png");
    background-repeat: no-repeat;
    background-size: cover; */
}
.small-img {
    display: block;
    width: 45% !important;
    margin-left: 0;
}
.img-enlarge{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20000;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.lightbox{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0.8;
    background-color: black;
}

.small-img-wrap {}
@media (max-width: 600px) {
    .right-content-title{
        line-height: 25px;
        font-size: 14px;
    }
    .right-content-page-img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .right-content {
        margin-top: 50px;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .right-content-headline {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .right-content-big-title {
        font-size: 20px;
    }
    .right-content-title li p{
        line-height: 25px !important;
    }
    .right-content-big-title-wrap li p{
        line-height: 25px !important;
    }
}

/*修改*/
.jump-to-other-pages{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 30px;
}
.right-content-wrap{
    position: relative;
    float: left;
    margin-left: 360px;
    width: calc(100% - 360px);
}
.right-content {
   /* position: absolute;
   left: 50%;
   transform: translateX(-50%); */
  
   
}