body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #9374ee;
    height: 45px;
    z-index: 100;
}

.voice-logo {
    width: 23px;
    height: 22px;
    margin-left: 3%;
}

.search {
    display: flex;
    align-items: center;
    width: 68%;
    height: 0.3rem;
    background: #ffffff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.search-text {
    display: inline-block;
    height: 0.25rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.12rem;
}

.login {
    font-size: 0.16rem;
    margin-right: 3%;
}

.nav {
    position: relative;
    top: 45px;
    width: 100%;
    height: 0.4rem;
}

.nav ul {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav ul li {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 0.4rem;
}

.swiper-container {
    position: relative;
    top: 45px;
    width: 100%;
    height: 2rem;
}

.swiper-slide {
    height: 400px;
    background: #ff0000;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.classification {
    position: relative;
    top: 45px;
    width: 100%;
    height: 1rem;
}

.classification-center {
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.classification-each {
    width: 14.28%;
    margin-right: 14.28%;
}

.classification-each:last-of-type {
    margin-right: 0;
}

.classification-each img {
    width: 100%;
    height: 100%;
}