.menu-mobile-logo{
    width: 2.15rem;
}
.mobile-content{
    margin-left: .55rem;
    margin-right: .55rem;
}
.header-mobile{
    height: 1rem;
    padding-top: .28rem;
    padding-bottom: .28rem;
    border-bottom: 1px solid #b0defc;
}
.menu-mobile-menu{
    width: .44rem;
}